:root {
  --color-text: #e0e0e0;
}

p, li, h1, h3, h4, h2 {
    color: var(--color-text);
}

a {
    color: #008800;
}

.box {
  width: 800px;
  background: #d10808;
  border-radius: 5px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}


html {
   background-image: url("rsc/b.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}
